.info {
	width: 100%;
	margin-top: 10px;
}

.operation {
	width: 100%;
	margin-top: 10px;
}

.info label {
	margin-right: 15px;
}

.info input {
	height: 23px;
	width: 180px;
}

.msg {
	width: 100%;
	height: 20px;
	border: 1px solid red;
}

.operation button {
	width: 60px;
	height: 27px;
	background-color: darkseagreen;
	border: 0px;
	border: 1px solid red;
	color: whitesmoke;
	border-radius: 10px;
	margin-left: 35px;
	cursor: pointer;
}