.info{
	width: 100%;
	margin-top: 10px;
}
.info label{
	margin-right: 15px;
}

.info input{
	height: 23px;	
	width: 180px;
}
.info button{
	width: 60px;
	height: 27px;
	background-color: darkseagreen;
	border: 0px;
	color: whitesmoke;
	border-radius: 10px;
	margin-left: 35px;
}
